<div class="container" *ngIf="cartProducts.length > 0; else empty">
    <h2 class="text-center">Ваш заказ:</h2>

    <table> 
        <tbody>
            <tr *ngFor="let cartProduct of cartProducts; let i = index">
                <td>{{cartProduct.type}}</td>
                <td>{{cartProduct.title}}</td>
                <td>
                    <button class="btn btn-danger">Удалить</button>
                </td>
                <td>{{cartProduct.price}} rub</td>
            </tr>
        </tbody>
    </table>
    <hr>
    <b class="right">Итог: {{totalPrice}} rub</b>
</div>

<ng-template #empty>
    <h2 class="text-center">Корзина пуста</h2>
</ng-template>