<nav class="navbar bg-dark">
    <h2>Online Shop Kristina</h2>

    <ul>
        <li routerLinkActive="active">
            <a (click)="setType('Куртки')">Куртки</a>
        </li>
        <li routerLinkActive="active">
            <a (click)="setType('Кофты')">Кофты</a>
        </li>
        <li routerLinkActive="active">
            <a (click)="setType('Комбинезон')">Комбинезоны</a>
        </li>
        <li routerLinkActive="active">
            <a (click)="setType('Юбки')">Юбки</a>
        </li>
        <li routerLinkActive="active">
            <a (click)="setType('Корзина')" [routerLink]="['/cart']" >Корзина</a>
        </li>
    </ul>
</nav>

<div class="container"><router-outlet></router-outlet></div>

<footer class="footer1">
    <div class="container">
        <div class="footer_inner1">
            <a href="https://www.instagram.com/fashion_omskshop/?igshid=oi3t9k32y47g">Instagram</a>
            <div class="footer_info1">
                <div class="footer_copyright1">
                    &copy; 2021-Online Shop Kristina
                </div>
            </div>
        </div>
    </div>
</footer>

<div (click)="click($event)" class="modal">Перейти к покупкам
    <div class="modal_dialog">
        <img class="modal_photo" src="https://sun9-75.userapi.com/impg/laE7dsthpaYJ5geU-LuRrhn4hb7G3ssKBwcKnQ/5A7tkKqmKcc.jpg?size=1280x852&quality=96&sign=2693a8b3dcfbf13d34c407f4c5bcec22&type=album" height="500" width="750" alt="">
    </div>

</div>

