<div *ngIf="product$ | async as product; else loading ">
    <div class="product">
        <div class="header right">
            <button routerLink="/" class="btn">Назад</button>
        </div>

        <div class="flex">
            <div class="item text-center">
                <h2>{{product.title}}</h2>

                <div class="flex-center">
                    <quill-view-html [content]="product.photo"></quill-view-html>
                </div>


            </div>

            <div class="item">
                <h2>Информация</h2>

                <div>
                    <quill-view-html [content]="product.info"></quill-view-html>

                    <div class="margin10">
                        <h2>Цена: {{product.price}} rub</h2>
    
                        <button class="btn " [routerLink]="['./cart']" >Добавить в корзину</button>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>

<ng-template #loading>
    <p class="text-center">Загрузка...</p>
</ng-template>
